{
  "listen": ":7777", // Listen address
  "protocol": "faketcp", // "udp", "wechat-video", "faketcp". Empty = "udp"
  "acme": {
    "domains": ["your.domain.com"], // Domains for the ACME cert
    "disable_http": false, // Disable HTTP challenges
    "disable_tlsalpn": false, // Disable TLS-ALPN challenges
    "alt_http_port": 8080, // Alternate port for HTTP challenges
    "alt_tlsalpn_port": 4433 // Alternate port for TLS-ALPN challenges
  },
  "cert": "/home/ubuntu/my_cert.crt", // Cert file, mutually exclusive with the ACME options above
  "key": "/home/ubuntu/my_key.crt", // Key file, mutually exclusive with the ACME options above
  "up": "5 Mbps", // Max upload speed per client, mutually exclusive with "up_mbps" below
  "up_mbps": 5, // Max upload Mbps per client
  "down": "5 Mbps", // Max download speed per client, mutually exclusive with "down_mbps" below
  "down_mbps": 20, // Max download Mbps per client
  "disable_udp": true, // Disable UDP support
  "acl": "site.list", // See ACL page
  "mmdb": "GeoLite2-Country.mmdb", // MaxMind database for ACL country lookups
  "obfs": "Paaaaaasssssswwwwooooordddd", // Obfuscation password
  "auth": { // Authentication
    "mode": "passwords", // Mode, supports "none" "passwords" and "external". See external authentication page for details
    "config": ["yubiyubi", "random_password2", "Мать-Россия"]
  },
  "alpn": "ayaya", // QUIC TLS ALPN, must be the same as the client
  "recv_window_conn": 15728640, // QUIC stream receive window
  "recv_window_client": 67108864, // QUIC connection receive window
  "max_conn_client": 16, // Max concurrent connections per client
  "disable_mtu_discovery": true, // Disable Path MTU Discovery (RFC 8899)
  "resolver": "udp://1.1.1.1:53", // DNS resolver address
  "resolve_preference": "46", // DNS IPv4/IPv6 preference. Available options: "64" (IPv6 first, fallback to IPv4), "46" (IPv4 first, fallback to IPv6), "6" (IPv6 only), "4" (IPv4 only)
}
